html,
body {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

	a:-webkit-any-link {
		text-decoration: none;
	}
}

.header {
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.0975);

	.header-wrapper {
		display: flex;
		max-width: 935px;
		margin: 0 auto;
		padding: 0 60px;
		flex-direction: column;
	
		.header-content {
			display: flex;
			justify-content: space-between;
			padding: 10px 0;
			align-items: center;

			.logo, .logo a {
				color: black;
				font-size: 24px;
				font-weight: bold;

				a:nth-child(1) {
					padding-right: 5px;
				}
			}

			input {
				display: flex;
				border: 1px solid rgba(0,0,0,.0975);				
				border-radius: 7px;
				flex-direction: row;
				width: 100%;
				max-width: 350px;
				background: transparent;
				outline: none;
				text-align: center;
				line-height: 20px;
				
				&:focus {
					background-color: rgba(197, 197, 197, 0.301);
					border: 1px solid rgba(0, 0, 0, 0.397);
				}
			}			
			
			nav {
				display: flex;
				align-items: baseline;

				a {
					padding-right: 20px;
					color: #000;
				}
			}
		}
	}
}
